<%= form_for @carpenter do |f| %>
<p>
  <%= f.label :name %>
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :company %>
  <%= f.text_field :company %>
</p>
</p>
  <%= f.label :email %>
  <%= f.text_field :email %>
</p>
</p>
  <%= f.label :phone_number %>
  <%= f.text_field :phone_number %>
</p>
</p>
  <%= f.label :city %>
  <%= f.text_field :city %>
</p>
</p>
  <%= f.label :state %>
  <%= f.text_field :state %>
</p>
</p>
  <%= f.label :zipcode %>
  <%= f.text_field :zipcode %>
</p>
</p>
  <%= f.submit %>

<% end %>
