
<h3><%= @carpenter.name %> with <%= @carpenter.company %></h3>
<div id="contact">
  <p>Contact: <%= @carpenter.email %></p>
  <p>Phone Number:<%= @carpenter.phone_number %></p>
  <p><%= @carpenter.city %>, <%= @carpenter.state%> </p>
  <p>Zip: <%= @carpenter.zipcode %></p>
  <%= link_to "*edit", edit_carpenter_path(@carpenter) %>
  <!-- <a href="/carpenters/<%= @carpenter.id %>/edit">*edit</a> -->
</div>


<h3>Goods <%= link_to "(+)", new_carpenter_good_path(@carpenter) %></h3>
  <% @carpenter.goods.each do |good| %>
    <li>
      <%= link_to "#{good.make}:", carpenter_good_path(@carpenter, good) %> <%= "$#{good.price}" %> <br>
      <img class = 'good-photo' src="<%= good.photo_url %>">
    </li>
  <% end %>

<%= link_to 'Back', carpenters_path %>
