<%= form_for [@carpenter, @good] do |f| %>
<p>
  <%= f.label :make %>
  <%= f.text_field :make %>
</p>
<p>
  <%= f.label :price %>
  <%= f.text_field :price %>
</p>
</p>
  <%= f.label :photo_url %>
  <%= f.text_field :photo_url %>
</p>
</p>

  <%= f.submit %>

<% end %>
