<!DOCTYPE html>
<html>
<head>
  <title>LocalTable</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="page-wrap">
    <%= image_tag "/logo.png", :class => "style_image" %>
    <% if current_user %>
    <h3><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></h3>
    <% else %>
    <h3><%= link_to 'Sign up', new_user_registration_path %></h3>
    <h3><%= link_to 'Log in', new_user_session_path %></h3>
    <% end %>
  <nav>
      <a href="/carpenters" class="button">Carpenters</a>
      <a href="/goods" class="button">Furniture</a>
  </nav>
<%= yield %>
  </div>
</body>
</html>
