<!DOCTYPE html>
<html>
<head>
  <title>LocalTable</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>Local Table</h1>
  <nav>
    <% if session[:user] %>
      <a href="/sign_out"><%= session[:user]["username"] %>: sign out</a></h2>
    <% else %>
      <a href="/sign_up">Sign up</a>
      <a href="/sign_in">Sign in</a>
    <% end %>
  </nav>
  <h2><%= flash[:notice] %>
<%= yield %>

</body>
</html>
