<!DOCTYPE html>
<html>
<head>
  <title>LocalTable</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header> Welcome to Local Table
    <%= image_tag "ErinH.png", :class => "guidepic" %>
</header>
<body>
  <div class="sign">
    <% if current_user %>
    <p><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></p>
    <% else %>
    <p><%= link_to 'Sign up', new_user_registration_path %></p>
    <p><%= link_to 'Log in', new_user_session_path %></p>
    <% end %>
  </div>
  <nav>
      <a href="/carpenters" class="button">Carpenters</a>
      <a href="/goods" class="button">Furniture</a>
  </nav>
<%= yield %>
</body>
</html>
